<%- include("../includes/Header")%>
<section class="verAlign">
  <div class="verAlign">
    <h1 class="text-2xl font-bold my-3">Reset Your Password</h1>
    <button class="button"><a href="/">Go Back Home</a></button>
  </div>
  <form class="w-full verAlign" action="/change-new-pwd" method="post" class="form">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <input hidden value="<%= resetToken %>" name="resetToken" />
    <input hidden value="<%= userId %>" name="userId" />
    <div class="formInput">
      <% if(error.length) {%>
      <div class="warning"><%= error %></div>
      <%}%>
    </div>
    <div class="formInput">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" id="password" name="password" value="<%=oldFormData.password%>"/>
    </div>
    <div class="formInput">
      <label class="label"  for="password">Confirm Password</label>
      <input class="input" type="password" id="password" name="confirmPassword" value="<%=oldFormData.confirmPassword%>"/>
    </div>
    <button class="button my-3">Reset Password</button>
  </form>
</section>
<%- include("../includes/Footer")%>
