<%- include("./includes/Header")%>
<section class="verAlign">
  <div class="verAlign">
    <h1 class="text-2xl font-bold my-4 ">Add Post Here</h1>
  </div>
  <form class="w-full verAlign" action="/admin" method="post" enctype="multipart/form-data">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
     <div class="formInput">
      <% if(error.length) {%>
      <div class="warning"><%= error %></div>
      <%}%>
    </div>
    <div class="formInput">
      <label for="title" class="label">Title</label>
      <input type="text" id="title" name="title" required class="input" value="<%=oldFormData.title%>"/>
    </div>
    <div class="formInput">
      <label for="photo" class="label">Photo</label>
      <input type="file" id="photo" name="photo" required class="my-1" />
    </div>
    <div class="formInput">
      <label for="description" class="label">Description</label>
      <textarea
        name="description"
        id="description"
        rows="10"
        cols="10"
        class="input"
      ><%=oldFormData.description%></textarea>
    </div>
    <button class="button my-4"><i class="fa-solid fa-plus"></i> ADD</button>
  </form>
</section>
<%- include("./includes/Footer")%>
