<%- include("./includes/Header")%>
<section class="w-full">
 <div class="verAlign w-[90%] md:w-[70%] m-auto flex flex-col my-4">
   <div class="flex w-[90%] justify-between items-center my-4 ">
    <h1 class="text-2xl font-bold w-[70%]"><%=post.title%></h1>
    <a href="/"><i class="fa-solid fa-arrow-left-long"></i></a>
   </div>
   <div class="w-[90%] flex items-center gap-2">
    <i class="fa-solid fa-user"></i> 
    <p ><%=post.userId.email%></span>
   </div>
   <%if(date) {%>
    <div class="w-[90%] flex items-center gap-2 my-2">
      <i class="fa-solid fa-calendar"></i>
      <p><%=date%></p>
    </div>
    <%}%>
     <% if (post.userId._id?.toString() == currentUserId?.toString()){%>
  <div class="flex w-full justify-start ml-[10%] gap-8 my-4 items-center">
    <form action="/admin/delete/<%=post._id%>" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <button class="button"><i class="fa-solid fa-trash-can"></i> DELETE POST</button>
    </form>
    <a href="/admin/edit/<%=post._id%>"><button class="button"><i class="fa-solid fa-pen-to-square"></i> EDIT POST</button></a>
  </div>
  <%}%>
  <img class="mb-3 rounded w-[90%]" src="<%='/' + post.imgUrl%>" alt="" />
  <div class="m-auto w-[90%] break-words"><%=post.description%></div>
 </div>
</section>
<%- include("./includes/Footer")%>
