<%- include("./includes/Header")%>
<section class="detailContainer">
  <h1><%=post.title%></h1>
  <img src="<%=post.photo%>" alt="" />
  <div><%=post.description%></div>
</section>
<%- include("./includes/Footer")%>
