<%- include("../includes/Header")%>
<section class="verAlign">
    <div class="flex flex-col items-center w-[100%]">
      <div class="flex items-center p-8 justify-between w-full">
        <div class="flex flex-col justify-center items-center">
          <i class="fa-solid fa-circle-user"></i>
          <h1 class="text-2xl mb-3 font-bold"><%=userEmail%></h1>
          <h1><%=posts[0].userId.username ? posts[0].userId.username : "" %></h1>
        </div>
        <div class="flex flex-col">
          <button class="button mb-4"><a href="/admin/username">Set Username</a></button>
          <button class="button"><a href="/admin/premium">Buy Premium</a></button>
        </div>
      </div> 
    <div class="flex w-[100%] justify-around flex-wrap">
    <% for (let post of posts) {%>
      <div class="flex flex-col items-start w-[80%] sm:w-[400px] border-blue-400 border-2 shadow-xl rounded-md bg-slate-100 mx-3 my-2 p-5 md:h-[21rem] h-[22rem] ">
        <div class="mt-[-0.4rem]"><%=post.title.substr(0,40)%></div>
         <p class="my-1">Posted by <span class="text-blue-500 font-medium"><%=post.userId.email%></span></p>
        <img class="my-1 rounded-md w-full h-36 object-cover" src="<%= '/' + post.imgUrl %>" alt="<%=post.title%>">
        <p class="w-full break-words"><%=post.description.substr(0,80)%> ...</p>
        <a class="mt-[0.4rem] button" href="../post/<%= post._id %>"><button>See More</button></a>
        </div>
    <%}%>
    </div>
    <div>
      
    </div>
    <div class="w-[80%] flex flex-row-reverse justify-between items-center">
       <% if (hasNextPage) {%>
        <a href="/admin/profile?page=<%=nextPage%>"><button class="button my-2">Next Page <%=nextPage%> <i class="fa-solid fa-arrow-right"></i></button></a>
        <%}%>
        <% if (hasPreviousPage) {%>
        <a href="/admin/profile?page=<%=previousPage%>"><button class="button my-2">Previous Page <%=previousPage%> <i class="fa-solid fa-arrow-left"></i></button></a>
        <%}%>
    </div>
</section>
<%- include("../includes/Footer")%>
